body{
 background: #141E30; 
 color: #FFF;
}

#main-name {
text-align: center;
}

.about{
font-family: 'Georgia';
}

p{
font-size: 20px;
font-family: 'Tahoma';
}

h2 {
font-family: 'Georgia';
  font-size: 18px;
}


