body {
  font-family: sans-serif;
}

header {

}

#div1 {
background-color: lightyellow;
width: 40%;
height: 220px;
float: left;
}

#div2 {
  background-color: moccasin;
  width: 60%;
  height: 220px;
  float: right;
  }

 #div3{
  background-color: cyan
  width: 60%;
  height: 220px;
  float: left;
 }

 #div4{
  background-color: darkgrey
  width: 40%;
  height: 220px;
  float: right;
 }

 #div5{
  background-color: rosybrown
  width: 40%;
  height: 220px;
  float: left;
 }

 #div6{
  background-color: silver
  width: 60%;
  height: 220px;
  float: right;
 }

